<div class="nested-fields">
  <div class="form-group">
    <%= f.text_area :reason, placeholder: "深堀りしていこう", class: "form-control" %>
    <div class="text-right">
    <%= link_to_remove_association "削除", f, class: "btn btn-danger btn-remove" %>
    </div>
  </div>
</div>