

<% @period.each do |pe| %>
  <%= pe.period %>
  <ul>
    <% pe.histories.each do |history| %>
      <%= link_to history_path(history.id) do %>
        <li><%= history.title %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>