<ul class="advantage-list">
  <% @advantages.each do |advantage| %>
    <li>
      <%= advantage.advantage %>
      <i class="far fa-hand-point-right"></i>
      <%= link_to history_path(advantage.history) do %>
       <%= advantage.history.title %>
      <% end %>
      の経験により
    </li>
  <% end %>
</ul>
