  <div class="tab-content py-5" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <ul class="row pl-0">
        <% name_tag = 'text-white px-2 py-1 mr-3 rounded-pill shadow' %>
        <div class="col-6">
        <%= render 'index', resumes: @resumes %>
        </div>
      </ul>
    </div>
  </div>