// Place all the styles related to the user::mypages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// プロフィール部分
.profile-list{
 list-style: none;
}

.profile-list li {
  margin-bottom: 10px;
}

// タブメニュー
.menu {
  padding: 0;
  margin: 0;
  display: flex;
  border-bottom: 1px solid #dee2e6;
  text-align: center;
}
.menu li {
  width : calc(100% / 3)
}

.menu li a {
  padding: 8px 0;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  color: #333;
  text-decoration: none;
  border-radius: 4px 4px 0 0;
  width: 100%;
}

ul.menu li .active {
  background-color: #fff;
  border-top: solid 1px #dee2e6;
  border-right: solid 1px #dee2e6;
  border-left: solid 1px #dee2e6;
  border-bottom: solid 1px #fff;
}

.menu li a:not(.active):hover {
  opacity: 0.5;
  transition: opacity 0.4s;
}

.content.active {
  min-height: 150px;
  display: block;
}

.content {
  display: none;
}

